* {
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    background-color: #dfe0e0;
    color: #000000;
  }
  
  header {
    background-color: #d0826f;
    width: 250px;
    height: 950px;
  }
  
  .hautdepage {
    text-align: center;
    font-size: 30px;
    width: 245px;
    margin-top: 15px;
  }
  
  .lhp { 
    color: #000000;
    text-align: center;
    font-size: 25px;
    line-height: 75px;
    margin: 15px;
  }

.lhpes { 
    color: #000000;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin: 15px;
  }
  
  a.lhpe {
    text-decoration: none;
    display: block;
    color: #000000;
  }
  
  a.lhpe:hover {
    color: #dfe0e0;
  }
  
  .logo {
    text-align: center;
    font-size: 80px;
    margin-bottom: 200px;
    margin-top: -260px;
    margin-left: 40px;
    color: #d0826f;
    text-decoration: none;
  }
  
  a.triangle {
    text-align: center;
    display: flex ;
  }
  
  .triangle {
    display : inline-grid;
    height : 0;
    width : 0;
    border-top: 320px solid #263547;
    border-right: 550px solid transparent;
  }
  
  .accueil {
    width: 1000px;
    color: #000000;
    margin: -900px;
    margin-left: 300px;
  }
  
  h1{
    color: #d0826f;
    font-size: 90px;
    text-transform: uppercase;
    width: 1000px;
  }
  
  h2 {
    margin-top: -70px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: lighter;
  }
  
  .tire {
    width: 1650px;
    height: 10px;
    background-color: #000000;
    margin-top: 30px;
  }
  
  h3 {
    font-size: 35px;
    margin-top: 50px;
    text-transform: uppercase;
    color: #d0826f;
  }
  
  p {
    margin-top: 50px;
    width: 1400px;
    font-size: 25px;
  }

  .contact, .Travaux {
    width: 1600px;
    color: #000000;
    margin: -850px;
    margin-left: 280px;
  }

  .tps {
    margin-top: -75px;
    margin-left: 644px;
  }

  .tps:hover, .dip:hover {
    color: #000000;
  }
  
  .image {
    margin-top: 50px;
    margin-left: -50px;  
  }

  img {
    width: 350px;
  }

  a.lien {
    margin-left: 50px;
  }

  article {
    width: 1600px;
  }

  img:hover{
    display: inline-block;
    width: 360px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition-property: transform;
  }
